.ui.stackable.relaxed.grid
  .eight.wide.column
    %h2.ui.top.attached.header PTC Membership Database
    .ui.attached.segment
      The PTC Membership Database is the central location for all
      members-only resources.

    %h2.ui.top.attached.header Membership Card
    .ui.attached.segment
      %h4.ui.header
        = link_to "Access your PTC Membership card", card_member_path(current_member)
      You can bookmark your membership card on your smartphone or print
      a copy to carry with you. Show your card at local sponsor shops to
      verify your membership.

  .right.floated.six.wide.column
    %h2.ui.header Info
    .ui.divided.list
      .item
        %i.big.blue.external.link.icon
        .content
          .header
            = link_to "PTC Sponsor Discounts", "http://www.pittsburghtriathlonclub.com/club-discount-codes/", target: :blank
          .description
            - if @member.paid_up?
              Password is
              %em kienle2014kona
            - else
              = link_to "Renew your membership", "http://www.active.com/event_detail.cfm?event_id=2136786", :target => "_blank"
              to get access to the current password
      - if current_member.has_default_avatar?
        .item
          %i.big.yellow.warning.sign.icon
          .content
            .header Update your profile photo
            .description
              Your profile photo shows on your PTC Membership card. You should
              %b
                = link_to "add your photo", member_root_path
              to your profile.
